* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	position: relative;
	font-size: 20px;
	color: #fff;
}

body {
	font-family: 'Lato', sans-serif, arial;
	/*font-family: 'Oxygen', sans-serif, arial;*/
	font-size: 20px;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 400%;
	font-weight: 300;
}

section {
	min-height: 100vh;
}

/* HERO SECTION */
.hero {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))) , url(../img/hands-xl.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url(../img/hands-xl.jpg);
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	height: 100vh; /*Sets header height to match viewport height:*/
	/*background-attachment: fixed;*/
}

.brand {
	width: 75%;
	margin-top: 200px;
	margin-left: 100px;
}

/* ABOUT THE THERAPIST SECTION */

.about-therapist {
	background-color: #555;
}

/* BENEFITS OF MASSAGE SECTION */

.benefits {

}

/* TESTIMONIALS SECTION */
.testimonials {

}

.flex-container {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*flex-flow: */
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
}

/* SERVICES & RATES SECTION */
.rates {
	background-color: #000;
}

/* SCHEDULE NOW SECTION */
.schedule {
	background-color: #555;
}

footer {
	background-color: #000;
	height: 200px;
}

/* ANIMATION */

.animated {
  animation-duration: 15s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
	opacity: 0;
	transform: translate3d(0, -300%, 0);
  }

  to {
	opacity: 1;
	transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}