* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	position: relative;
	font-size: 20px;
	color: #fff;
}

body {
	/*font-family: 'Oxygen', sans-serif, arial;*/
	font-size: 20px;
	margin: 0;
	padding: 0;
}

section {
	height: 100vh;
}

.hero {
	background-image: url(../img/hands-xl.jpg);
	background-size: cover;
}

.modalities {
	background-color: #000;
}

.pricing {
	background-color: #555;
}

footer {
	background-color: #000;
}